* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #6200ea;
    color: white;
    padding: 20px 0;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.pdf-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pdf-frame {
    width: 100%;
    height: 80vh; /* Altura ajustável para a visualização do PDF */
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6200ea;
    color: white;
}
